body {
  margin: 0;
  padding: 0;
  background-color: rgba(236, 184, 221, 0.956);
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;           
}

.kutia {
  text-align: center;    
}
.kutia img {
  width: 100px;         
  height: 100px;         
  object-fit: cover;     
  margin: 0 10px;        
  display: inline-block;
}